@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

$P-Moderate-cyan: #3cb4ac;
$P-Dark-cyan: #147b74;
$N-Black: #000000;
$N-Dark-gray: #7a7a7a;
$Bookmark:#d1cccc;

$Font-Weight-400:400;
$Font-Weight-500:500;
$Font-Weight-700:700;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Commissioner', sans-serif;
  font-weight: $Font-Weight-400;
  background: rgba($N-Dark-gray, 0.1);
}

.container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
}

.card {
  flex-direction: column;
  text-align: center;
  background-color: #FFF;
  width: 700px;
  max-width: 90%;
}

.disabled {
  opacity: 0.4;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p,
.btn {
  margin-top: 1.5rem;
  align-self: center;
}

p {
  color: $N-Dark-gray;
}

section {
  margin-bottom: 1.5rem;
  transform: translateY(-4rem);
}

.text-left {
  text-align: left;
}

.text-cyan {
  color: $P-Dark-cyan;
}

.border-radius {
  border-radius: 6px;
}

.padding {
  padding: 2rem;
}

.btn {
  padding: 0.75rem 1.5rem;
}

.btn-P-color {
  background: $P-Moderate-cyan;
  color: #FFF;
  border-radius: 100vw;

  &:hover {
    background: $P-Dark-cyan;
  }
}

.btn-N-color {
  background: $N-Dark-gray;
  color: #FFF;
  border-radius: 100vw;
}

#main {
  #header {
    height: 50vh;
    background: url(./images/image-hero-desktop.jpg) no-repeat;
    background-size: cover;

    .navbar {
      padding-top: 2rem;

      .container {
        justify-content: space-between;
        align-items: center;

        ul {
          display: flex;
          justify-content: space-around;
          width: 30%;

          li {
            a {
              color: #FFF;
            }
          }
        }

        .hamburger-nav {
          display: none;
        }

        @media screen and (max-width:720px) {
          width: 90%;

          ul {
            display: none;
          }

          .hamburger-nav {
            display: block;
          }

        }
      }
    }

    @media screen and (max-width:720px) {
      background: url(./images/image-hero-mobile.jpg) no-repeat;
      background-size: cover;
    }
  }

  #mastercraft {

    .container {

      .logo-mastercraft {
        display: flex;
        justify-content: center;

        img {
          position: absolute;
          top: 0;
          transform: translateY(-1.7rem);
        }
      }

      .cta {
        display: flex;
        justify-content: space-between;
        font-weight: $Font-Weight-500;
        margin-top: 0.5rem;

        .btn-bookmark {
          background: $Bookmark;
          color: #2F2F2F;
          border-radius: 100vw;
          padding-left: 3.5rem;
          font-weight: $Font-Weight-700;
          position: relative;

          & svg {
            position: absolute;
            width: 43px;
            height: 43px;
            top: 0;
            left: 0;
          }
        }
      }
    }

    @media screen and (max-width:720px) {
      .card {
        text-align: center;


        .cta {
          justify-self: center;

          .btn-P-color {
            padding: 0.9rem 2.3rem;
          }

          .btn-bookmark {
            background: transparent;
            padding-left: 0;
            font-size: 0;

            svg {
              position: static;
            }
          }
        }
      }
    }
  }

  #backing {
    .container {
      .backing-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;

        h1 {
          margin-top: 0;
        }

        p {
          margin-top: 0.5rem;
        }

        .backers,
        .day-left {
          padding-left: 10%;
          border-left: 2px solid rgba($N-Dark-gray, $alpha: 0.3);
        }
      }

      .backing-progress {
        max-width: 100%;
        height: 10px;
        background: rgba($N-Dark-gray, $alpha: 0.3);
        border-radius: 100vw;
        margin-top: 2.5rem;

        .progressbar {
          width: 75%;
          background: $P-Moderate-cyan;
          height: 10px;
          border-radius: 100vw;
        }
      }
    }

    @media screen and (max-width:720px) {
      .container {

        .backing-top {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          // position: relative;
          text-align: center;

          h1 {
            margin-top: 1rem;
          }

          p {
            margin-top: 0.5rem;
          }

          .backers,
          .day-left {
            padding-left: 0;
            border-left: none;
          }

          .backed,
          .backers {
            border-bottom: 1px solid rgba($color: $N-Dark-gray, $alpha: 0.4);

            p {
              padding-bottom: 1.5rem;
            }
          }
        }
      }
    }
  }

  #about-project {
    .about {
      margin-bottom: 1rem;
    }

    .box {
      margin-top: 1.5rem;
      border: 1px solid rgba($color: $N-Dark-gray, $alpha: 0.4);
      display: flex;
      flex-direction: column;

      .box-top,
      .box-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .box-top {

        h3,
        p {
          margin-top: 0;
        }
      }

      .box-bottom {
        position: relative;

        h2 span {
          position: absolute;
          top: 58%;
          font-size: 12px;
          color: $N-Dark-gray;
          padding-left: .4rem;
        }
      }

      &.disabled .box-bottom a {
        cursor: not-allowed;
      }
    }


  }
}

//!Modal Start
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 700px;
  max-width: 80%;
  height: 90vh;
  overflow-y: auto;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: $N-Dark-gray;

  &:hover {
    color: $N-Black;
  }
}

.modal-body {
  padding: 10px;
  margin-top: 1.5rem;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: -100%;
  left: 0;
  right: 0;
  bottom: -100%;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

//!Modal End

.modal-padd {
  padding: 0 15px;
}

.modal-padd .title {
  margin-top: 0;
}

.modal-body .pledge {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem 1.5rem;
  border: 1px solid rgba($N-Dark-gray, $alpha: 0.3);
  border-radius: 10px;
}

.modal-body .pledge .wrapper {
  display: flex;
}

.radio,
.radio2,
.radio3,
.radio4 {
  display: inline-flex;
  cursor: pointer;
  margin-right: 2rem;
}

.radioInput,
.radioInput2,
.radioInput3,
.radioInput4 {
  display: none;
}

.radioR,
.radioR2,
.radioR3,
.radioR4 {
  width: 1.65rem;
  height: 1.65rem;
  border: 1px solid rgba($N-Dark-gray, $alpha: 0.3);
  border-radius: 50%;
  padding: 5px;
}

.radioR::after,
.radioR2::after,
.radioR3::after,
.radioR4::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: $P-Moderate-cyan;
  border-radius: 50%;
  transform: scale(0);
}

.radioInput:checked+.radioR::after,
.radioInput2:checked+.radioR2::after,
.radioInput3:checked+.radioR3::after,
.radioInput4:disabled+.radioR4:disabled::after {
  transform: scale(1);
}

.pledge-text {
  align-self: flex-start;
  margin-right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  h3 {
    margin-top: 0;
    margin-right: 0.5rem;
    display: inline-block;

    span {
      color: $N-Dark-gray;
      font-weight: $Font-Weight-400;
    }

    &:hover {
      color: $P-Moderate-cyan;
      cursor: pointer;
    }

  }

  .pledgeCol {
    color: $P-Moderate-cyan;
    font-weight: $Font-Weight-500;
  }
}

.modal-body .pledge .price {
  display: none;
  justify-content: space-between;
  border-top: 1px solid rgba($N-Dark-gray, $alpha: 0.3);
  padding: 0 1.5rem;
  margin: 2rem -1.5rem 0 -1.5rem;

  .buttons {
    margin-top: 1.5rem;

    span {
      display: inline-block;
      position: relative;
      margin-right: 0.8rem;
    }

    input {
      border: 2px solid rgba($N-Dark-gray, $alpha: 0.3);
      border-radius: 100vh;
      box-shadow: none;
      font-size: 16px;
      font-weight: $Font-Weight-700;
      height: 2.8rem;
      width: 5.5rem;
      padding-left: 2rem;
    }

    input:focus {
      outline: none;
      cursor: pointer;
    }

    span::before {
      content: "$";
      position: absolute;
      left: 20%;
      top: 45%;
      font-weight: $Font-Weight-700;
      color: rgba($N-Dark-gray, $alpha: 0.5);
      transform: translateY(-45%);
    }
  }
}

.modal-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.modal-container.show {
  opacity: 1;
  pointer-events: auto;
}

.modalo {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 25px 35px;
  text-align: center;
  width: 450px;
  max-width: 90%;

  img {
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 20px;
    font-weight: $Font-Weight-700;
  }

  p {
    color: $N-Dark-gray;
    font-size: 14px;
    margin-top: 1rem;
  }

  a {
    display: inline-block;
    margin: 1.7rem;
    cursor: pointer;
  }
}


.ham-nav-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.ham-nav-container.show {
  opacity: 1;
  pointer-events: auto;
}

.logo_close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 2rem 0;
}

.ham-nav-modalo {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: left;
  width: 450px;
  max-width: 90%;

  ul {
    li {
      padding: 25px 35px;
      border-bottom: 1px solid rgba($color: $N-Dark-gray, $alpha: 0.4);

      a {
        color: $N-Black;
        font-weight: $Font-Weight-700;
        font-size: 20px;
      }
    }
  }
}