@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Commissioner', sans-serif;
  font-weight: 400;
  background: rgba(122, 122, 122, 0.1);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
}

.card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #FFF;
  width: 700px;
  max-width: 90%;
}

.disabled {
  opacity: 0.4;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p,
.btn {
  margin-top: 1.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

p {
  color: #7a7a7a;
}

section {
  margin-bottom: 1.5rem;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.text-left {
  text-align: left;
}

.text-cyan {
  color: #147b74;
}

.border-radius {
  border-radius: 6px;
}

.padding {
  padding: 2rem;
}

.btn {
  padding: 0.75rem 1.5rem;
}

.btn-P-color {
  background: #3cb4ac;
  color: #FFF;
  border-radius: 100vw;
}

.btn-P-color:hover {
  background: #147b74;
}

.btn-N-color {
  background: #7a7a7a;
  color: #FFF;
  border-radius: 100vw;
}

#main #header {
  height: 50vh;
  background: url(./images/image-hero-desktop.jpg) no-repeat;
  background-size: cover;
}

#main #header .navbar {
  padding-top: 2rem;
}

#main #header .navbar .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main #header .navbar .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
}

#main #header .navbar .container ul li a {
  color: #FFF;
}

#main #mastercraft .container .logo-mastercraft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main #mastercraft .container .logo-mastercraft img {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-1.7rem);
          transform: translateY(-1.7rem);
}

#main #mastercraft .container .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  margin-top: 0.5rem;
}

#main #mastercraft .container .cta .btn-bookmark {
  background: #d1cccc;
  color: #2F2F2F;
  border-radius: 100vw;
  padding-left: 3.5rem;
  font-weight: 700;
  position: relative;
}

#main #mastercraft .container .cta .btn-bookmark svg {
  position: absolute;
  width: 43px;
  height: 43px;
  top: 0;
  left: 0;
}

#main #backing .container .backing-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

#main #backing .container .backing-top h1 {
  margin-top: 0;
}

#main #backing .container .backing-top p {
  margin-top: 0.5rem;
}

#main #backing .container .backing-top .backers,
#main #backing .container .backing-top .day-left {
  padding-left: 10%;
  border-left: 2px solid rgba(122, 122, 122, 0.3);
}

#main #backing .container .backing-progress {
  max-width: 100%;
  height: 10px;
  background: rgba(122, 122, 122, 0.3);
  border-radius: 100vw;
  margin-top: 2.5rem;
}

#main #backing .container .backing-progress .progressbar {
  width: 75%;
  background: #3cb4ac;
  height: 10px;
  border-radius: 100vw;
}

#main #about-project .about {
  margin-bottom: 1rem;
}

#main #about-project .box {
  margin-top: 1.5rem;
  border: 1px solid rgba(122, 122, 122, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main #about-project .box .box-top,
#main #about-project .box .box-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main #about-project .box .box-top h3,
#main #about-project .box .box-top p {
  margin-top: 0;
}

#main #about-project .box .box-bottom {
  position: relative;
}

#main #about-project .box .box-bottom h2 span {
  position: absolute;
  top: 58%;
  font-size: 12px;
  color: #7a7a7a;
  padding-left: .4rem;
}

#main #about-project .box.disabled .box-bottom a {
  cursor: not-allowed;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 700px;
  max-width: 80%;
  height: 90vh;
  overflow-y: auto;
}

.modal.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: #7a7a7a;
}

.modal-header .close-button:hover {
  color: #000000;
}

.modal-body {
  padding: 10px;
  margin-top: 1.5rem;
}

#overlay {
  position: fixed;
  opacity: 0;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  top: -100%;
  left: 0;
  right: 0;
  bottom: -100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.modal-padd {
  padding: 0 15px;
}

.modal-padd .title {
  margin-top: 0;
}

.modal-body .pledge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 2rem 1.5rem;
  border: 1px solid rgba(122, 122, 122, 0.3);
  border-radius: 10px;
}

.modal-body .pledge .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.radio,
.radio2,
.radio3,
.radio4 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  margin-right: 2rem;
}

.radioInput,
.radioInput2,
.radioInput3,
.radioInput4 {
  display: none;
}

.radioR,
.radioR2,
.radioR3,
.radioR4 {
  width: 1.65rem;
  height: 1.65rem;
  border: 1px solid rgba(122, 122, 122, 0.3);
  border-radius: 50%;
  padding: 5px;
}

.radioR::after,
.radioR2::after,
.radioR3::after,
.radioR4::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: #3cb4ac;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.radioInput:checked + .radioR::after,
.radioInput2:checked + .radioR2::after,
.radioInput3:checked + .radioR3::after,
.radioInput4:disabled + .radioR4:disabled::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.pledge-text {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pledge-text h3 {
  margin-top: 0;
  margin-right: 0.5rem;
  display: inline-block;
}

.pledge-text h3 span {
  color: #7a7a7a;
  font-weight: 400;
}

.pledge-text h3:hover {
  color: #3cb4ac;
  cursor: pointer;
}

.pledge-text .pledgeCol {
  color: #3cb4ac;
  font-weight: 500;
}

.modal-body .pledge .price {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid rgba(122, 122, 122, 0.3);
  padding: 0 1.5rem;
  margin: 2rem -1.5rem 0 -1.5rem;
}

.modal-body .pledge .price .buttons {
  margin-top: 1.5rem;
}

.modal-body .pledge .price .buttons span {
  display: inline-block;
  position: relative;
  margin-right: 0.8rem;
}

.modal-body .pledge .price .buttons input {
  border: 2px solid rgba(122, 122, 122, 0.3);
  border-radius: 100vh;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 16px;
  font-weight: 700;
  height: 2.8rem;
  width: 5.5rem;
  padding-left: 2rem;
}

.modal-body .pledge .price .buttons input:focus {
  outline: none;
  cursor: pointer;
}

.modal-body .pledge .price .buttons span::before {
  content: "$";
  position: absolute;
  left: 20%;
  top: 45%;
  font-weight: 700;
  color: rgba(122, 122, 122, 0.5);
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
}

.modal-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.modal-container.show {
  opacity: 1;
  pointer-events: auto;
}

.modalo {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 25px 35px;
  text-align: center;
  width: 450px;
  max-width: 90%;
}

.modalo img {
  margin-bottom: 1rem;
}

.modalo h2 {
  font-size: 20px;
  font-weight: 700;
}

.modalo p {
  color: #7a7a7a;
  font-size: 14px;
  margin-top: 1rem;
}

.modalo a {
  display: inline-block;
  margin: 1.7rem;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */