@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

$P-Moderate-cyan: hsl(176, 50%, 47%);
$P-Dark-cyan: hsl(176, 72%, 28%);
$N-Black: hsl(0, 0%, 0%);
$N-Dark-gray: hsl(0, 0%, 48%);
$Font-Weight-400:400;
$Font-Weight-500:500;
$Font-Weight-700:700;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Commissioner', sans-serif;
  font-weight: $Font-Weight-400;
  background: rgba($N-Dark-gray, 0.1);
}

.container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
}

.card {
  flex-direction: column;
  text-align: center;
  background-color: #FFF;
  width: 50%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p,
.btn {
  margin-top: 1.5rem;
}

p {
  color: $N-Dark-gray;
}

section {
  margin-bottom: 1.5rem;
  transform: translateY(-4rem);
}

.text-left {
  text-align: left;
}

.text-cyan {
  color: $P-Dark-cyan;
}

.border-radius {
  border-radius: 6px;
}

.padding {
  padding: 2rem;
}

.btn {
  padding: 0.75rem 1.5rem;
}

.btn-P-color {
  background: $P-Moderate-cyan;
  color: #FFF;
  border-radius: 100vw;
}

.btn-N-color {
  background: $N-Dark-gray;
  color: #FFF;
  border-radius: 100vw;
}

#main {
  #header {
    height: 50vh;
    background: url(./images/image-hero-desktop.jpg) no-repeat;
    background-size: cover;

    .navbar {
      padding-top: 2rem;

      .container {
        justify-content: space-between;

        ul {
          display: flex;
          justify-content: space-around;
          width: 30%;

          li {
            a {
              color: #FFF;
            }
          }
        }
      }
    }
  }

  #mastercraft {

    .container {

      .logo-mastercraft {
        display: flex;
        justify-content: center;

        img {
          position: absolute;
          top: 0;
          transform: translateY(-1.7rem);
        }
      }

      .cta {
        display: flex;
        justify-content: space-between;
        font-weight: $Font-Weight-500;
        margin-top: 0.5rem;

        .btn-bookmark {
          background: #d1cccc;
          color: #2F2F2F;
          border-radius: 100vw;
          padding-left: 3.5rem;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            width: 43px;
            height: 43px;
            top: 0;
            left: 0;
            background: url(./images/icon-bookmark.svg) no-repeat;
            background-size: cover;
          }
        }
      }
    }
  }

  #backing {
    .container {
      .backing-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;

        h1 {
          margin-top: 0;
        }

        p {
          margin-top: 0.5rem;
        }

        .backers,
        .day-left {
          padding-left: 10%;
          border-left: 2px solid rgba($N-Dark-gray, $alpha: 0.3);
        }
      }

      .backing-progress {
        max-width: 100%;
        height: 10px;
        background: rgba($N-Dark-gray, $alpha: 0.3);
        border-radius: 100vw;
        margin-top: 2.5rem;

        .progressbar {
          width: 75%;
          background: $P-Moderate-cyan;
          height: 10px;
          border-radius: 100vw;
        }
      }
    }
  }

  #about-project {
    .about {
      margin-bottom: 1rem;
    }

    .box {
      margin-top: 1.5rem;
      border: 1px solid rgba($color: $N-Dark-gray, $alpha: 0.4);
      display: flex;
      flex-direction: column;

      .box-top,
      .box-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .box-top {

        h3,
        p {
          margin-top: 0;
        }
      }

      .box-bottom {
        position: relative;

        span {
          position: absolute;
          top: 58%;
          font-size: 12px;
          color: $N-Dark-gray;
          padding-left: .4rem;
        }
      }
    }

    .disabled {
      opacity: 0.4;
    }
  }
}